In [1]:
%pylab inline
import pandas as pd
matplotlib.style.use('ggplot')

Populating the interactive namespace from numpy and matplotlib

In [2]:
from blaze import Data
from blaze.utils import example
iris = Data(example('iris.csv'))
iris

    sepal_length  sepal_width  petal_length  petal_width      species
0            5.1          3.5           1.4          0.2  Iris-setosa
1            4.9          3.0           1.4          0.2  Iris-setosa
2            4.7          3.2           1.3          0.2  Iris-setosa
3            4.6          3.1           1.5          0.2  Iris-setosa
4            5.0          3.6           1.4          0.2  Iris-setosa
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
...

In [3]:
iris.sepal_length

    sepal_length
0            5.1
1            4.9
2            4.7
3            4.6
4            5.0
5            5.4
6            4.6
7            5.0
8            4.4
9            4.9
...