In [1]:
import requests
import json
import re
import time
import pandas as pd


def fetch_sse_data(mdate='202403'):
    """
    抓取上海证券交易所指定月份的数据。

    Args:
        mdate (str): 查询的月份，格式为 'YYYYMM'，例如 '202403'。

    Returns:
        dict: 解析后的数据字典，如果抓取或解析失败则返回 None。
    """
    # 1. 定义请求 URL
    url = 'https://query.sse.com.cn//commonQuery.do'

    # 2. 定义请求参数
    # jsonCallBack 和 _ (时间戳) 通常是动态生成的，
    # 为了模拟浏览器行为，我们可以生成一个随机的 jsonCallBack 后缀和当前时间戳。
    timestamp_ms = str(int(time.time() * 1000))
    json_callback_name = f'jsonpCallback{timestamp_ms}'

    params = {
        'jsonCallBack': json_callback_name,
        'sqlId': 'COMMON_SSE_TZZ_M_ALL_ACCT_C',
        'isPagination': 'false',
        'MDATE': mdate, # 查询的月份
        '_': timestamp_ms # 当前时间戳，防止缓存
    }

    headers = {
        'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10.15; rv:142.0) Gecko/20100101 Firefox/142.0',
        'Accept': '*/*',
        'Accept-Language': 'zh-CN,zh;q=0.8,zh-TW;q=0.7,zh-HK;q=0.5,en-US;q=0.3,en;q=0.2',
        'Accept-Encoding': 'gzip, deflate, br, zstd',
        'Referer': 'https://www.sse.com.cn/',
        'Connection': 'keep-alive',
        'Sec-Fetch-Dest': 'script',
        'Sec-Fetch-Mode': 'no-cors',
        'Sec-Fetch-Site': 'same-site',
        'Pragma': 'no-cache',
        'Cache-Control': 'no-cache'
    }

    # 4. 发送 GET 请求
    try:
        response = requests.get(url, headers=headers, params=params, timeout=15)
        response.raise_for_status()

        jsonp_text = response.text

        pattern = rf'{re.escape(json_callback_name)}\((.*)\)'
        match = re.match(pattern, jsonp_text, re.DOTALL) # re.DOTALL 使 . 匹配包括换行符在内的所有字符

        if match:
            json_string = match.group(1)
            data = json.loads(json_string)
            return data
        else:
            raise ValueError(jsonp_text[:500])

    except Exception as e:
        print(f"发生错误：{e}")
        return None


def convert_data_to_dataframe(data) -> pd.DataFrame:
    df = pd.DataFrame(data['result'])
    df['TERM'] = pd.to_datetime(df['TERM'], format='%Y.%m', errors='coerce')
    numeric_cols = ['TOTAL', 'A_ACCT', 'B_ACCT', 'FUND_ACCT']
    for col in numeric_cols:
        # 使用 errors='coerce' 将无法解析的值转换为 NaN
        df[col] = pd.to_numeric(df[col], errors='coerce')
    df.dropna(subset=['TERM'], inplace=True)

    new_column_names = {
        'TOTAL': '总户数',
        'A_ACCT': 'A股账户数',
        'B_ACCT': 'B股账户数',
        'MDATE': '查询月份',
        'TERM': '统计期',
        'FUND_ACCT': '基金账户数'
    }
    df.rename(columns=new_column_names, inplace=True)
    return df



data_202312 = fetch_sse_data(mdate='202312')
df_202312 = convert_data_to_dataframe(data_202312)
data_202412 = fetch_sse_data(mdate='202412')
df_202412 = convert_data_to_dataframe(data_202412)
data_202507 = fetch_sse_data(mdate='202507')
df_202507 = convert_data_to_dataframe(data_202507)

df = pd.concat([df_202312, df_202412, df_202507], axis=0, ignore_index=True)
df

       总户数   A股账户数    查询月份  B股账户数        统计期  基金账户数
0   164.69  152.88  202312   0.07 2023-01-01  11.74
1   319.23  295.05  202312   0.07 2023-02-01  24.11
2   363.52  333.35  202312   0.05 2023-03-01  30.11
3   197.72  180.95  202312   0.03 2023-04-01  16.73
4   189.39  171.84  202312   0.05 2023-05-01  17.51
5   194.11  174.75  202312   0.03 2023-06-01  19.32
6   179.55  162.12  202312   0.03 2023-07-01  17.40
7   190.67  174.29  202312   0.03 2023-08-01  16.35
8   146.99  133.84  202312   0.05 2023-09-01  13.10
9   129.57  117.33  202312   0.03 2023-10-01  12.21
10  147.23  134.05  202312   0.03 2023-11-01  13.15
11  124.89  113.90  202312   0.04 2023-12-01  10.94
12  216.65  195.64  202412   0.06 2024-01-01  20.95
13  144.74  129.66  202412   0.04 2024-02-01  15.04
14  273.05  241.79  202412   0.04 2024-03-01  31.21
15  165.10  147.35  202412   0.05 2024-04-01  17.70
16  142.18  126.62  202412   0.07 2024-05-01  15.49
17  123.32  107.60  202412   0.05 2024-06-01  15.67
18  132.78  115.14  202412   0.04 2024-07-01  17.61
19  113.37   99.93  202412   0.03 2024-08-01  13.41
20  205.66  182.74  202412   0.03 2024-09-01  22.89
21  739.40  684.68  202412   0.07 2024-10-01  54.65
22  296.93  269.84  202412   0.07 2024-11-01  27.01
23  220.39  198.91  202412   0.05 2024-12-01  21.43
24  177.37  157.00  202507   0.04 2025-01-01  20.33
25  313.77  283.59  202507   0.04 2025-02-01  30.14
26  348.53  306.55  202507   0.05 2025-03-01  41.93
27  213.32  192.44  202507   0.04 2025-04-01  20.84
28  172.77  155.56  202507   0.04 2025-05-01  17.17
29  184.73  164.64  202507   0.06 2025-06-01  20.04
30  212.58  196.36  202507   0.07 2025-07-01  16.15
31    0.00    0.00  202507   0.00 2025-08-01   0.00
32    0.00    0.00  202507   0.00 2025-09-01   0.00
33    0.00    0.00  202507   0.00 2025-10-01   0.00
34    0.00    0.00  202507   0.00 2025-11-01   0.00
35    0.00    0.00  202507   0.00 2025-12-01   0.00